
logs/
world/
world_the_end/
world_nether/
banned-ips.json
banned-players.json
bukkit.yml
commands.yml
help.yml
ops.json
paper.yml
permissions.yml
wepif.yml
spigot.yml
usercache.json
whitelist.json
version_history.json
